README.md
.vs/VSWorkspaceState.json
.vs/Marble-Solitaire/v17/.wsuo
.vs/Marble-Solitaire/v17/DocumentLayout.json
Marble Solitaire/.vs/Marble Solitaire/FileContentIndex/8e698b54-5cc9-4593-aa2b-232d9ab1ad6f.vsidx
Marble Solitaire/.vs/Marble Solitaire/FileContentIndex/4951f8f6-7e1c-4fdd-a9c7-fa35a536d970.vsidx
Marble Solitaire/.vs/Marble Solitaire/FileContentIndex/b254494a-fafc-4d4e-a1fc-371cae1975f1.vsidx
Marble Solitaire/.vs/Marble Solitaire/FileContentIndex/bf49005c-63a2-4e6f-9908-82b31039aa28.vsidx
Marble Solitaire/.vs/Marble Solitaire/FileContentIndex/fc60f7a3-228c-4281-a5a4-f085b8360022.vsidx
Marble Solitaire/.vs/Marble Solitaire/v17/.suo
Marble Solitaire/.vs/Marble Solitaire/v17/Browse.VC.db
Marble Solitaire/.vs/Marble Solitaire/v17/Solution.VC.db
Marble Solitaire/.vs/Marble Solitaire/v17/ipch/AutoPCH/3b0916e1e6821d11/MAIN.ipch
Marble Solitaire/.vs/Marble Solitaire/v17/TestStore/0/000.testlog
Marble Solitaire/.vs/Marble Solitaire/v17/TestStore/0/testlog.manifest
